main{
    background-color: black;
}
h2{
    color: #F2A922;
    text-align: center;
}
header > h1{
    background-image: linear-gradient(to right,#F2A922, #732002);
    color: rgba(210, 210, 74, 0.672);
    text-align: center;
    color: #323E40;
}
.hamburger > h1{
    color: #F2A922;
    
}
.pizza{
    background-image: url(../imagens/rei.png);
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;/*imagem nao se repete*/
    background-size: cover;
}


footer > p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 10px;

}
 section> h1{
    text-align: center;
}
main> p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}