
header{
    background-image: linear-gradient(to right, #F2A922,#D9501E );
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.583);
    border-radius: 10px;   

}

.pizza{

    background-color: black;
    background-image: url(../imagens/rei.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px  10px;
    padding-bottom: 10px;
}
.pizza> h2  {
    text-align: center; 
    min-height: 97v; 
}
.pizza >h1{
    text-align: center;
}